<a href="https://colab.research.google.com/github/Ahsan40/aiml/blob/main/Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Dictonary`

# declare
d = {}

# or
d = dict()

# Init with data
dic = {
    'name' : 'Ehsan',
    'email': 'blabla@gmail.com',
    'age': 23
}

print(dic['name'])
print(dic['email'])
print(dic['age'])

Ehsan
blabla@gmail.com
23

In [2]:
# Update value
dic['name'] = 'Ehsan Khan'
print(dic['name'])

Ehsan Khan

In [3]:
# add new k/v
dic['gender'] = 'male'
print(dic['gender'])

male

In [5]:
# can be combined all date type at one dictonary
dic[1] = 23
print(dic[1])

23

In [6]:
# LIST OF DICTONARY

# list
students = []

# dictonary
s1 = {
    "id": "001", "name": "A"
}

# dictonary
s2 = {
    "id": "002", "name": "B"
}

students.append(s1)
students.append(s2)

print(students[1])

{'id': '002', 'name': 'B'}

make student information and store as such its easy to search by id.

In [8]:
# dictonary of list
info = {
    '011201122': ['A', 80, 3.5],
    '011201123': ['B', 100, 4] 
}

# for variable lenght info dictonary of dictonary is more useful

id = '011201122'
print(info[id])

['A', 80, 3.5]

In [15]:
# Input from file
f = open('input.txt')

# dictonary of list
dict = {}

for line in f.readlines():
    # string formatting
    line = line.strip()
    d = line.split(',')
    id = d[0]
    name = d[1]
    credit = int(d[2])
    cgpa = float(d[3])
    dict[id] = [name, credit, cgpa]

# print dictonary
for id in dict:
    print(id, end=': ')
    for item in id:
        print(item, end=' ')
    print()

011201122: 0 1 1 2 0 1 1 2 2
011201123: 0 1 1 2 0 1 1 2 3
011201124: 0 1 1 2 0 1 1 2 4
011201125: 0 1 1 2 0 1 1 2 5

In [37]:
# count elements
d = {}

f = open('in2.txt')

for line in f.readlines():
    line = line.strip()
    if line in d:
        d[line] = d[line] + 1
    else:
        d[line] = 1

for line in d:
    print(f'{line} orrcured {[line]}')

10 2
20 1
12 2
23 3
34 2
45 1
56 1

In [39]:
# count character from string elements
d = {}

f = open('in3.txt')
line = f.readline()
line = line.strip()
for ch in line:
    if line in d:
        d[ch] = d[line] + 1
    else:
        d[ch] = 1

for line in d:
    print(f'{line} orrcured {[line]}')

T orrcured ['T']
e orrcured ['e']
s orrcured ['s']
t orrcured ['t']
  orrcured [' ']

In [40]:
# function
def sum(a, b):
    return a+b

print(sum(10, 20))

30

In [42]:
# return multiple value

def sum(a, b):
    return a+b , a * b

s, m = sum(10, 20)
print(s, m)

30 200

In [49]:
# Write a function that finds the max and min of a list of integers
def maxMin(l):
    max = min = l[0]
    for i in l:
        if i < min:
            min = i
        if i > max:
            max = i
    return max, min

l = [10, 20, 1, 2, 450, 5]

max, min = maxMin(l)
print(f'max: {max} min: {min}')

max: 450 min: 1

In [57]:
# Given the x y coordinates of 2 2d points, write a function to calculate their euclidean distance
import math

def EuclDis(a, b, c, d):
    return math.sqrt(((a-b)**2) + ((c-d)**2))
# power somethin with 0.5 will return sqrt

def ManhathanDis(a, b, c, d):
    return (abs((a-b)) + abs((2-3)))

print(f'Euclicean Distance: {EuclDis(1, 2, 3, 5)}')
print(f'Euclicean Distance: {EuclDis(b=2, a=1, d=5, c=3)}')
print(f'Manthan Distance: {ManhathanDis(1, 2, 5, 3)}')

Euclicean Distance: 2.23606797749979
Euclicean Distance: 2.23606797749979
Manthan Distance: 2