<a href="https://colab.research.google.com/github/Ahsan40/aiml/blob/main/Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Class
class Example:
    num = 0 # instance variable
    static_var = 10 # define static variable
    
    # initializer
    def __init__(self, num2): # self is must for initializer
        self.num2 = num2   # self is being used as this 'keyword' in java
        num3 = 10   # this is a local variable closed to only __init__ method
        print('creating an object of the class')
        Example.static_var # can also be define here
    
    def print_num(self):
        print(self.num2)
    
    # calling function inside
    def func(self):
        self.print_num()

    # to string
    def __str__(self):
        return 'this is a object'
    
    # static method
    @staticmethod
    def print_static(num):
        print(num)

# create object
obj = Example(20)
obj.func
obj.print_num()
print(obj)
obj.print_static(Example.static_var)

creating an object of the class
20
this is a object
10

In [11]:
import math

# Practice
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def dist(self, d2):
        return abs(self.x - d2.x) + abs(self.y - d2.y)

    # overloading
    def dist2(self, x, y):
        d = Point(x, y)
        return self.dist(d)
    
    # move up
    def up(self):
        self.y += 1

    # move down
    def down(self):
        self.y -= 1

    # move left
    def left(self):
        self.x -= 1

    # move right
    def right(self):
        self.x += 1
    
    # euclidian
    @staticmethod
    def euc(p1, p2):
        return math.sqrt((p1.x - p2.x)**2 + (p1.y - p2.y)**2)

p1 = Point(3, 5)
p2 = Point(-4, 1)

print(p1.dist(p2))

p2.up()

print(p1.dist(p2))

11
10

In [12]:
# sorting
class Employee:
    def __init__(self, name, height, age):
        self.name = name
        self.height = height
        self.age = age
    
    def __str__(self):
        return self.name + " " + str(self.height) + " " + str(self.age)
    
    def __lt__(self, other):
        if self.height > other.height:
            return True
        elif self.height == other.height:
            return self.age > other.age
        return False
            

    def __eq__(self, o):
        return self.name == o.name and self.height == o.height and self.age == o.age


n = int(input('Please enter Employee Number: '))

emps = []

for i in range(n):
    name = input('Employee Name: ')
    height = int(input('Employee Height: '))
    age = int(input('Employee Age: '))
    emps.append(Employee(name, height, age))

emps.sort()

for item in emps:
    print(item)

Please enter Employee Number: 3
Employee Name: A
Employee Height: 120
Employee Age: 10
Employee Name: B
Employee Height: 110
Employee Age: 8
Employee Name: C
Employee Height: 10
Employee Age: 122
A 120 10
B 110 8
C 10 122